@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/* Add this in your global CSS file or within a styled component */
@keyframes radialOpen {
  0% {
    clip-path: circle(0% at 100% 0%);
  }
  100% {
    clip-path: circle(150% at 100% 0%);
  }
}

@keyframes radialClose {
  0% {
    clip-path: circle(150% at 100% 0%);
  }
  100% {
    clip-path: circle(0% at 100% 0%);
  }
}
